<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>GeEC Public Datasets</title>
  <!--Bootstrap-->
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!--self-->
  <link rel="stylesheet" type="text/css" href="{% static "table/table.css" %}">
</head>

<body>
  {% block content %}
  {% endblock %}
  <!--jQuery-->
  <script defer type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!--Bootstrap-->
  <script defer type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!--self-->
  <script defer type="text/javascript" src="{% static "table/table.js" %}"></script>
</body>
</html>
